<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load navbar %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Bob Flagg's Blog</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<!-- add your meta tags here -->

<link href="/site_media/pygments/style.css" rel="stylesheet" type="text/css" />
<link href="/site_media/pygments/pygments_style.css" rel="stylesheet" type="text/css" />
<link href="/site_media/blog/css/layout.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 7]>
<link href="media/css/patch_layout.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="text/javascript"    src="{{ MEDIA_URL }}js/slide.js"></script>
{% load get_setting %}
{% get_setting "DJANGO_COMMENTS" "django_comments" %}
  {% if django_comments %}
    {% load comments %}
  {% else %}
    {% load disqus_tags %}
  {% endif %}
		<script src="/site_media/js/jquery.js"></script>
		<script src="/site_media/js/cookie.js"></script>
		<script>
			path = '/site_media/img/';		
			$(document).ready(function() {
				setTimeout('move_up()', 1);
			});
		</script>
		<script>
			function swapImg(a, image) {
				var the_path = '/site_media/img/' + image;
				show = new Image;
				show.src = the_path;
				$('body').css({ backgroundImage: 'url(' + show.src + ')', backgroundPosition: '215px 0' , backgroundRepeat: 'no-repeat' });
		
				var title = $('#img' + a).attr('title');
				var caption = $('#img' + a).attr('alt');
				
				if (title != 'N/A') 
				{
					caption = (caption != 'N/A') ? ': ' + caption : '';
					$('#backgrounded-text').html('<span style="background: white; line-height: 24px;">' + title + caption + '</span>');
				}
				else
				{
					$('#backgrounded-text').html('');
				}
			}
		</script>
	<script>
		function show_image(id) {
			$('.pic').hide();
			$('#p' + id).fadeIn();
			return false;
		}
	</script>

</head>
<body>
  <div class="page_margins">
    <div class="page">
      <div id="header">
        <div id="topnav">
          <!-- start: skip link navigation -->
          <a class="skip" title="skip link" href="#navigation">Skip to the navigation</a><span class="hideme">.</span>
          <a class="skip" title="skip link" href="#content">Skip to the content</a><span class="hideme">.</span>
          <!-- end: skip link navigation <a href="#">Login</a> | <a href="#">Contact</a> | <a href="#">Imprint</a> -->
        </div>
        <h1> Bob Flagg  </h1>
        <h3> Mathematician and Data Scientist </h3>
      </div>
      <div id="nav">
        <!-- skiplink anchor: navigation -->
        <a id="navigation" name="navigation"></a>
        <div class="hlist">
          <!-- main navigation: horizontal list -->
          <ul>
            <li><a href="{{ ROOT_URL }}">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/work/">Work</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
            {% main_nav %}
        </div>
      </div>
      <div id="main">
        <div id="col1">
          <div id="col1_content" class="clearfix">
<!-- start main content -->
          {% block content %}
          {% endblock %}
<!-- end main content -->
          </div>
        </div>
            {% sidebar %}
            <hr />
<!-- End sidebar -->
          </div>
          <!-- IE Column Clearing -->
          <div id="ie_clearing"> amp;#160; </div>
        </div>
      </div>
      <!-- begin: #footer -->
      <div id="footer">Layout based on <a href="http://www.yaml.de/">YAML</a>
      </div>
    </div>
  </div>
</body>
</html>