<!doctype html>
{% load navbar %}
<html>
<head>
	<title>{% sitename %}</title>
	<meta charset="utf-8">
	<link href="/site_media/blog/css/layout.css" rel="stylesheet" type="text/css" />
	<!--[if lte IE 7]>
	<link href="/site_media/blog/css/patch_layout.css" rel="stylesheet" type="text/css" />
	<![endif]-->
	<script src="/site_media/blog/js/slide.js"></script>
	{% load get_setting %}
	{% get_setting "DJANGO_COMMENTS" "django_comments" %}
	{% if django_comments %}
		{% load comments %}
	{% else %}
		{% load disqus_tags %}
	{% endif %}
</head>
<body>
  <div class="page_margins">
    <div class="page">
      <div id="header">
        <table><tr><td><img src="/site_media/img/treeScaled.png"></td><td><h1> {% sitename %} </h1><h3> Thoughts on Mathematics, Machine Learning and Scientific Programming </h3></td></tr></table>        
      </div>
      <div id="main">
        <div id="col1">
          <div id="col1_content" class="clearfix">
<!-- start main content -->
          {% block content %}
          {% endblock %}
<!-- end main content -->
          </div>
        </div>
            {% sidebar %}
            <hr />
<!-- End sidebar -->
          </div>
          <!-- IE Column Clearing -->
          <div id="ie_clearing"> &amp;#160; </div>
        </div>
      </div>
      <!-- begin: #footer -->
      <div id="footer">Layout based on <a href="http://www.yaml.de/">YAML</a>
      </div>
    </div>
  </div>
</body>
</html>
