/**
* CSS
* 
* @version 1.0
* @author Vaska 
* @author Gregory Cadar
*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 11px;
	line-height: 15px;
	font-family: Verdana, sans-serif;
	background: #fff;
	letter-spacing:0.07em;
}

body.section-1 { }
body.section-2 { }
body.section-3 { }

a:link { text-decoration: none; color:#666;}
a:active { text-decoration: none;}
a:visited { text-decoration: none; color: #666; }
a:hover { text-decoration: none; background:#FF0; color:#666;}

a img { border: none; }

#menu {
    width: 215px;
    overflow: auto;
    top: 0;
    bottom: 0;
	left: 0;
    position: fixed;
    height: 100%;
	background-color: #fff;
}

#menu ul {
	list-style: none;
	margin: 0 0 12px 0;
}

#menu ul li { 
	margin-left: 8px;
}

#menu ul li.section-title { 
	margin-left: 4px;
	font-weight:bold;
	letter-spacing:0.08em;
	color:#666;
}

#content {
    height: 100%;
    margin: 0 0 0 215px;
    top: 0;
}

.container {
    padding: 5px 5px 25px 5px;
}

#content p { width: 400px; margin-bottom: 9px; }

p {
    margin: 0 0 9px 0;
}

h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 16px; }
h4 { font-size: 12px; }

#img-container	{ margin: 0; padding: 0; }
#img-container p { width: 400px; margin: 0; padding: 0 0 12px 0; }

#once { clear: left; }

div.header {
	margin-top:10px;
	font-weight:bold;
	color:#666;
	font-size:12px;
	letter-spacing:0.08em;
}

div.title a {
	font-weight:bold;
	color:#666;
	font-size:12px;
	letter-spacing:0.08em;
    background:#FF0;
}

div.container ul li.active a{
    text-decoration: none; 
    background:#FF0; 
    color:#666;
}