{% extends "work/base.html" %}
<!-- start main content -->
{% block content %}
    {% if heading %}
        <h1>{{ heading }}</h1>
    {% endif %}
    {% for sample in samples.object_list %}
       <div id="story-title-{{ sample.id }}" class="span-6">
        <h2><a href="{{ sample.get_absolute_url }}">{{ sample.title }}</a></h2>
        <hr />
       </div>
       <div id="sample-body-{{ post.id }}" class="span-18">
         {{ sample.body|safe }}
          {% if sample.photo_set %}
            <!-- The following courtesy of http://slideshow.triptracker.net/ -->
            <script type="text/javascript">
            <!--
              var viewer{{ sample.id }} = new PhotoViewer();
              {% for photo in sample.photo_set.all|slice:"3" %}
              viewer{{ sample.id }}.add('{{ MEDIA_URL }}{{ photo.image }}');
              {% endfor %}
              // -->
            </script>
            {% for photo in sample.photo_set.all|slice:"3" %}
                   <a href="{{ MEDIA_URL }}{{ photo.image }}" onclick="return viewer{{ sample.id }}.show({{ forloop.counter0 }})"> <img width="100" height="100" src="{{ photo.image.thumb_url }}" alt="" /> </a>
            {% endfor %}
           <p><a href="{{ sample.get_absolute_url }}">Click to see the rest of the gallery</a><p>
          {% endif %}
         <hr />
       </div>
       <hr />
    {% endfor %}
    <!-- start pagination -->
    <div class="pagination">
        <span class="step-links">
        {% if samples.has_previous %}<a href="?page={{ samples.previous_page_number }}" class="util-link">previous</a>{% endif %}
        {% if samples.has_next %}<a href="?page={{ samples.next_page_number }}" class="util-link">next</a>{% endif %}
        </span>
             <h3>Page {{ samples.number }} of {{ samples.paginator.num_pages }}</h3>
    <!-- end pagination -->
    </div>
{% endblock %}
<!-- end main content -->
